<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Fresas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" th:href="@{/admin-assets/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/admin-assets/css/adminlte.min.css}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <nav th:replace="~{admin/fragments :: navbar}"></nav>

    <aside th:replace="~{admin/fragments :: sidebar}"></aside>

    <div class="content-wrapper">
        
        <div th:replace="~{${contenido}}"></div>
        
    </div>
    <footer th:replace="~{admin/fragments :: footer}"></footer>

</div>
<script th:src="@{/admin-assets/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin-assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin-assets/js/adminlte.min.js}"></script>
</body>
</html>